[puppet{{ puppet_release }}]
name=Openvox {{ puppet_release }} Repository el {{ ansible_distribution_major_version }} - $basearch
baseurl=http://yum.voxpupuli.org/openvox8/el/{{ ansible_distribution_major_version }}/$basearch
gpgkey=file:///etc/pki/rpm-gpg/GPG-KEY-openvox.pub
enabled=1
gpgcheck=1
