vpass
.vpass
vpass
*.retry
*.swp
.vault-pass.txt
roles/local-home-dir/tasks/dotfiles.yml
*~
*backup
*.bak
.nfs*
/local
*.retry
git-repos
collections/ansible_collections/
external/habbfarm.*
roles/external/*
playbooks/habbfarm-infrastructure
.idea
.vscode
