[openvox8]
name=OpenVox 8 Repository el 9 - $basearch
baseurl=https://yum.overlookinfratech.com/openvox8/el/9/$basearch
gpgkey=file:///etc/pki/rpm-gpg/GPG-KEY-openvox-openvox8-release
enabled=1
gpgcheck=1
