export LE_WORKING_DIR="/home/acme/.acme.sh"
alias acme.sh="/home/acme/.acme.sh/acme.sh"
export PDNS_Url="{{ PDNS_Url }}"
export PDNS_ServerId="{{ PDNS_ServerId }}"
export PDNS_Token="{{ PDNS_Token }} "
export PDNS_Ttl="{{ PDNS_Ttl }}"
