http_proxy="http://hf-proxy.no.habbfarm.net:8888"
https_proxy="http://hf-proxy.no.habbfarm.net:8888"
HTTP_PROXY="http://hf-proxy.no.habbfarm.net:8888"
HTTPS_PROXY="http://hf-proxy.no.habbfarm.net:8888"
no_proxy="0.0.0.0/0,.habbfarm.net,.no.habbfarm.net"
NO_PROXY="0.0.0.0/0,.habbfarm.net,.no.habbfarm.net"
